* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #3B444F;
}

.title {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;

  &:after {
    content: '';
    width: 50px;
    height: 5px;
    background: #20B037;
    display: block;
    margin: 30px auto;
  }

  @media screen and (max-width:768px){
    font-size: 30px;
  }
}

.text-container {
  text-align: justify;
  width: 620px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 50px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.hided-text {
  display: none;
}

.see-more {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    background-image: url('../../img/arrow.svg');
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    right: -20px;
    margin-left: 10px;
  }
}

.body-menu-active {
  position: fixed;
}

.hero {
  height: 100vh;
  background-image:url('../../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px; 
    position: relative;

    img {
      @media screen and (max-width: 768px){
        width: 150px;
      }
    }
  }

  
  .menu-mobile {
    display: none;
    z-index: 99;
    position: absolute;
    right: 30px;
    top: 45px;
    
    .close-menu {
      width: 25px;
    }

    .close-menu,
    .open-menu {
      display: none;

      &.active {
        display: block;
      }
    }

    img {
      width: 30px;
    }

    @media screen and (max-width: 768px) {
      display: block;
      
    }  
  }
  

  nav {
    ul {
      display: flex;

      a {
        color: #ffffff;
        margin-left: 30px;
        font-size: 20px;

        &:hover {
          color: #89ff6e;
        }
      }

      @media screen and (max-width: 768px){
        flex-direction: column;
        position: fixed;
        left: 0;
        background: rgba(0,0,0,.9);
        width: 100%;
        height: 100vh;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 9;
        display: none;

        li {
          margin-bottom: 30px;

          a {
            margin-left: 0; 
            font-size: 30px;
          }
        }

        &.menu-active {
          display: flex;
        }
      }
    }

    
  }

  .text {
    > .container {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h2 {
      font-size: 96px;
      color: #ffffff;

      @media screen and (max-width: 768px) {
        font-size: 40px; 
      }
    }

    h3 {
      color: #ffffff;
      font-size: 76px;
      font-weight: 100;

      @media screen and (max-width: 768px) {
        font-size: 30px; 
      }
    }
  }
}

.about,
.courses,
.methods,
.testimonials,
.cta {
  text-align: center;
  padding: 150px 0;  

  @media screen and (max-width: 768px){
    padding: 100px 0;
  }
}

.about {
  border-bottom: 1px solid #C5C7CB;
}

.courses {
  padding: 150px 0 100px;

  @media screen and (max-width: 768px){
    padding: 100px 0;
  }

  img {
    width: 260px;
    margin: 30px 0 0;

    @media screen and (max-width: 768px){
      margin: 0;
      display: inline !important;
      width: auto;
    }
  }

  .see-more {
    margin-top: 70px;
  }

  .slick-prev {
    &::before {
      @media screen and (max-width: 768px){
        position: absolute;
        right: -40px;
      }
    }
  }

  .slick-next {
    &::before {
      @media screen and (max-width: 768px){
        position: absolute;
        left: -40px;
      }
    }
  }


}

.cta {
  background: #343E3D;
  padding: 50px;
  color: #ffffff;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
  }

  h2 {
    color: #fff;
    font-weight: 100;
    font-size: 35px;
    text-align: left;

    @media screen and (max-width: 768px){
      font-size: 30px;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .btn {
    background: #9EFFA8;
    width: 200px;
    height: 50px;
    line-height: 52px;
    border-radius: 5px;
    font-weight: 900;
    text-transform: uppercase;

    &:hover {
      background: #00ff1a;
    }
  }
}

.testimonials {
  background: #EDEDED;

  .testimonials-card {
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    color: #545B65;

    img {
      width: 70px;
      border-radius: 50%;
      margin: 30px auto;
    }

    p {
      margin: 0px 30px 40px;
      color: #545B65;

      &:before {
        content: '';     
        background-image: url(../../img/aspas.png);
        display: block;
        width: 30px;
        height: 25px;
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 105px;
      }
    }

    .testimonials-card-footer {
      border-top: 1px solid #EDEDED;
      padding: 20px;

      strong {
        display: block;
        color: #545B65;
      }
    }
  }

  .slick-prev {
    &::before {
      @media screen and (max-width: 768px){
        position: absolute;
        right: -10px;
      }
    }
  }

  .slick-next {
    &::before {
      @media screen and (max-width: 768px){
        position: absolute;
        left: -10px;
      }
    }
  }
}

.slick-initialized {
  .slick-slide {
    margin: 0 10px;
  }
}

.contact {
  padding: 150px 0;
  background-image: url('../../img/contact.png');
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 768px){
    background: none;
    padding: 100px 0;
  }

  .title {
    &:after {
      background: none;
    }
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px){
      width: 100%;
    }
    
    input {
      margin-bottom: 50px;
      border: none;
      border-bottom: 1px solid #cecece;
      font-size: 18px;
      outline: none;
    }

    textarea {
      padding: 10px;
      font-size: 18px;
      margin-bottom: 30px;
      outline: none;
    }

    button {
      background: #343E3D;
      color: #fff;
      height: 50px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.footer {
  padding: 80px 0 0px;
  background: #343E3D;

  @media screen and (max-width: 768px){
    padding: 40px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #ffffff;
      padding-right: 110px;

      @media screen and (max-width: 768px){
        border: none;
      }

      &:last-child {
        border: none;
      }
    }

    a, small {
      color: #ffffff;
    }

    small {
      padding: 30px 0;
    }

    .social-media {
      a {
        margin-right: 10px;
      }

      @media screen and (max-width: 768px){
        margin-bottom: 20px;
      }
    }

    nav {
      a {
        font-size: 25px;
        margin-bottom: 30px;
        display: block;

        @media screen and (max-width: 768px){
         font-size: 18px;
        }

        &:hover {
          color: #89ff6e;
        }
      }
    }

    @media screen and (max-width: 768px){
      flex-direction: column;
    }
  }

  h4 {
    background: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: 70px;
  }
}